* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar-wrapper {
  width: 100%;
  height: 70px;
  background-color: #000000;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 20px;
}

.navbar-nav {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
}

.navbar-nav {
  list-style: none;
}

.navbar-nav li a {
  color: white;
  text-decoration: none;
  width: 100%;
  height: 100%;
  align-items: center;
  display: flex;
  justify-content: space-evenly;
  margin: auto;
  padding-left: 10px;
  padding-right: 10px;
}

.navbar-nav li a:hover {
  background-color: #a1a1a1;
  color: #ffffff;
  transition: 0.3s;
}

.Gallery img {
  width: 200px;
  height: 200px;
  align-items: center;
}

.container {
  width: 80%;
  display: flex;
  align-items: center;
  margin: auto;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

.Gallery img:hover {
  transform: scale(1.3);
  transition: 1s;
  opacity: 0.8;
}

.Grid-Gallery {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 80%;
  margin: auto;
  gap: 50px;
}

.beautiful-flower h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  margin-top: 10%;
}
