* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar-wrapper {
  width: 100%;
  height: 70px;
  background-color: #000000;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 20px;
}

.navbar-nav {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
}

.navbar-nav {
  list-style: none;
}

.navbar-nav li a {
  color: white;
  text-decoration: none;
  width: 100%;
  height: 100%;
  align-items: center;
  display: flex;
  justify-content: space-evenly;
  margin: auto;
  padding-left: 10px;
  padding-right: 10px;
}

.navbar-nav li a:hover {
  background-color: #a1a1a1;
  color: #ffffff;
  transition: 0.3s;
}

.Gallery-1 {
  width: 100%;
  text-align: center;
}

.Gallery-1 img {
  width: 200px;
  height: 200px;
  align-items: center;
}

.container {
  width: 80%;
  display: flex;
  align-items: center;
  margin: auto;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

.Gallery-1 img:hover {
  transform: scale(1.3);
  transition: 1s;
  opacity: 0.8;
}

.Grid-Gallery {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 80%;
  margin: auto;
  gap: 50px;
}

.beautiful-flower h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  margin-top: 10%;
}

.flower-card:hover {
  transform: scale(1.2);
  transition: 1s;
  opacity: 0.8;
}

.flower-card {
  width: 100%;
  display: flex;
  align-items: center;
  margin: auto;
  justify-content: center;
  flex-direction: column;
  background-color: aqua;
}

.flower-card img {
  width: 100%;
}

.Grid-Gallery3 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin: auto;
  gap: 10px;
}

.cartoon-gallery img {
  width: 200px;
  height: 200px;
}

.cartoon-gallery {
  width: 80%;
  margin: auto;
}

.cartoon-gallery img:hover {
  transform: scale(1.3);
  transition: 1s;
  opacity: 1;
}

.cartoon-gallery img {
  opacity: 0.8;
}

.cartoon-gallery h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  margin-top: 20%;
}

.Space-Gallery {
  width: 80%;
  margin: auto;
}

.Space-Gallery-images {
  width: 80%;
  height: 180px;
  border: 1px solid black;
  /* scroll horizontal */
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}

.Space-Gallery-images img {
  margin-top: 5px;
  margin-right: 5px;
  margin-left: 5px;
  margin-bottom: 0px;
  max-width: 100%;
  max-height: 100%;
}

.Space-Gallery h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  margin-top: 20%;
}

.Space-Gallery {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

.container {
  width: 100%;
  display: flex;
  align-items: center;
  margin: auto;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

.cartoon-gallery {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

.slider-gallery {
  position: relative;
  padding: 30px;
  width: 100%;
  text-align: center;
}
.slider {
  width: 412px;
  height: 235px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  text-align: center;
  overflow: hidden;
}

.Image-slider {
  width: 3000px;
  height: 150px;
  clear: both;
  position: relative;
  transition: left 2s;
}

.slide {
  float: left;
  margin: 0px;
  padding: 0px;
  position: relative;
  width: 412px;
}

.button {
  position: relative;
  top: -80px;
}

.button a {
  display: inline-block;
  height: 15px;
  width: 15px;
  border-radius: 1000px;
  background-color: #c4c4c4;
  margin-right: 20px;
}

#slide-1:target ~ .Image-slider {
  left: 0px;
}
#slide-2:target ~ .Image-slider {
  left: -412px;
}
#slide-3:target ~ .Image-slider {
  left: -824px;
}

footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 5px;
  background-color: rgba(0, 0, 0, 0.777);
  color: white;
  height: 100px;
  margin-top: 20px;
}

footer p {
  font-size: 15px;
}

footer i {
  display: flex;
  gap: 0px;
  align-items: auto;
  font-size: 20px;
}

@media only screen and (min-width: 1024px) and (max-width: 2035px) {
  .Gallery-1 {
    display: grid;
    grid-template-columns: repeat(5, 200px);
    justify-content: center;
    place-items: center;
    row-gap: 5px;
    gap: 5px;
  }
}

@media only screen and (min-width: 680px) and (max-width: 1023px) {
  .Grid-Gallery3 {
    display: grid;
    grid-template-columns: repeat(3, 200px);
    justify-content: center;
    place-items: center;
    row-gap: 3px;
    gap: 3px;
    width: 100%;
  }
  .Grid-Gallery3 img {
    width: 180px;
    height: 180px;
  }
}

@media only screen and (min-width: 320px) and (max-width: 679px) {
  .Grid-Gallery3 {
    display: flex;
    flex-direction: column;
  }
}

@media only screen and (min-width: 1400px) and (max-width: 1900px) {
  .Grid-Gallery3 {
    display: grid;
    grid-template-columns: repeat(4, 280px);
    justify-content: center;
    place-items: center;
    row-gap: 30px;
    gap: 30px;
  }
  .Grid-Gallery3 img {
    width: 280px;
    height: 280px;
  }
}

@media only screen and (min-width: 1905px) and (max-width: 2279px) {
  .Grid-Gallery3 {
    display: grid;
    grid-template-columns: repeat(4, 300px);
    justify-content: center;
    place-items: center;
    row-gap: 40px;
    gap: 40px;
  }
  .Grid-Gallery3 img {
    width: 340px;
    height: 340px;
  }
}

@media only screen and (min-width: 2280px) and (max-width: 2356px) {
  .Grid-Gallery3 {
    display: grid;
    grid-template-columns: repeat(4, 300px);
    justify-content: center;
    place-items: center;
    row-gap: 100px;
    gap: 100px;
  }
  .Grid-Gallery3 img {
    width: 400px;
    height: 400px;
  }
}

@media only screen and (min-width: 2357px) and (max-width: 2600px) {
  .Grid-Gallery3 {
    display: grid;
    grid-template-columns: repeat(4, 400px);
    justify-content: center;
    place-items: center;
    row-gap: 140px;
    gap: 140px;
  }
  .Grid-Gallery3 img {
    width: 480px;
    height: 480px;
  }
}

@media only screen and (min-width: 320px) and (max-width: 450px) {
  .Grid-Gallery {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
  .Grid-Gallery img {
    width: 200px;
    height: 200px;
  }
}

@media only screen and (min-width: 320px) and (max-width: 450px) {
  .slide {
    width: 240px;
  }
  .slider {
    width: 240px;
  }
  .slider-gallery {
    background-color: lime;
  }
}
